<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001328795342-dr199qbivkrl13du7330ikkoipbcvvgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001328795342-dr199qbivkrl13du7330ikkoipbcvvgu</string>
	<key>API_KEY</key>
	<string>AIzaSyDhOHifveNu0cjSOH8s-YYXc-dc5e-oIU8</string>
	<key>GCM_SENDER_ID</key>
	<string>1001328795342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.astronapps.gtuApp</string>
	<key>PROJECT_ID</key>
	<string>gtu-app-3b991</string>
	<key>STORAGE_BUCKET</key>
	<string>gtu-app-3b991.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001328795342:ios:2502f8083b3c020b633a9f</string>
</dict>
</plist>